<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
     </handlers>
      <rewrite>
        <rules>
          <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
          </rule>
          <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
            <match url="^server.js\/debug[\/]?" />
          </rule>
          <rule name="StaticContent">
            <action type="Rewrite" url="{REQUEST_URI}"/>
          </rule>
          <rule name="DynamicContent">
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            </conditions>
            <action type="Rewrite" url="server.js"/>
          </rule>
        </rules>
      </rewrite>
      <security>
        <requestFiltering>
          <hiddenSegments>
            <add segment="node_modules" />
          </hiddenSegments>
        </requestFiltering>
      </security>
      <iisnode watchedFiles="*.js;node_modules\*;lib\models\*.js;lib\modules\slack\*.js;lib\modules\watchbot\*.js;lib\routes\*.js;lib\services\*.js;lib\utils\*.js;" />
    </system.webServer>
 </configuration>
